<% layout("/layouts/boiler") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h2>Edit details</h2>
                <form method="POST" action="/listing/<%=listing._id %>?_method=PUT" class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>

                        <input type="text" class="form-control" name="title" placeholder="Enter title"
                            value="<%= listing.title %>" required>
                            <div class="valid-feedback">
                                Title looks good

                            </div>

                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" placeholder="Enter description"
                            class="form-control" required><%= listing.description %></textarea>
                            <div class="invalid-feedback">
                                please enter description
                            </div>
                    </div>
                    <div class="mb-3">
                        <b>Original listing image</b>
                        <br>
                        <img src="<%= originalimageurl %>">
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" placeholder="enter image url" name="image" >
                        <div class="invalid-feedback">
                            please paste valid url
                        </div>
                        
                    </div>


                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="price" placeholder="Enter price "
                                value="<%=listing.price %>" required>
                            <div class="invalid-feedback">
                                please enter price
                            </div>
                        </div>
                        


                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="country" placeholder="Enter country"
                                value="<%= listing.country %>" required>
                            <div class="invalid-feedback">
                                please enter valid country name
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="location" class="form-label">location</label>
                        <input type="text" name="location" class="form-control" placeholder="Enter location"
                            value="<%= listing.location %>" required>
                        <div class="invalid-feedback">
                            please enter correct location
                        </div>
                    </div>

                    <button class="btn btn-danger mt-3">Save</button>

                </form>


            </div>
        </div>


    </body>

    </html>